<html>
  <head>
    <title>My Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous">
      // To get the text from the input field we are using here JQuery
    </script>
  </head>
  <body>
    <h2>Chatbot APP</h2>
    <div>
      <div class="chatbot">
        <p class="chatbot-message"><span>Hey there...</span></p>
      </div>
      <div id="userInput">
        <input
          type="text"
          id="userMessage"
          placeholder="Type your message here..."
        />
        <button id="sendButton">Send</button>
      </div>
    </div>
    
  </body>
</html>
